<!--User info,New book-->
<%= render partial: 'books/list', locals: { user: @user, book: @book } %>


<h2>Users</h2>
<table>
  <thead>
    <tr>
      <th>image</th>
      <th>name</th>
      <th> </th>
    </tr>
  </thead>
  <tbody>
      <tr>
        <td>
          <% @books.each do |book| %>
          <td><%= image_tag @book.user.get_profile_image(100,100) %></td>
          <td><%= link_to @book.user.name, user_path(@user) %></td>
          <td><%= @book.body %></td>
          <td>
            <%= link_to "Edit", edit_book_path(@book) %>
          <% end %>
          </td>
      </tr>
  </tbody>
</table>