<!--User info-->
<%= render 'info', user: @user %>
  
<%= render 'books/list', book: @book %>

<h1>Books</h1>
<table>
  <thead>
    <tr>
      <th></th>
      <th>Title</th>
      <th>Opinion</th>
    </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= image_tag @user.get_profile_image(100, 100) %></td>
        <td><%= link_to book.title, books_path(@book) %></td>
        <td><%= book.body %></td>
      </tr>
    <% end %>
  </tbody>
</table>

