<% if book.errors.any? %>
<%= book.errors.count %> errors prohibited this obj from being saved:
<ul>
  <% book.errors.full_messages.each do |message|%>
    <li><= message %></li>
  <% end %>
</ul>
<% end %>

  <h1>User info</h1>
  <%= image_tag user.get_profile_image(100,100) %>
  <table class="user-info-table">
    <tbody>
      <tr>
        <th>name</th>
        <th><%= user.name %></th>
      </tr>
      <tr>
        <th>introduction</th>
        <th><%= user.introduction %></th>
      </tr>
    </tbody>
  </table>
  
  
  <div class="row">
  <%= link_to edit_user_path(user), class: "btn btn-outline-secondary " do %>
    <i class="fa-solid fa-user-gear"></i>
  <% end %>
  </div>
  
  
  
  <h2 class="mt-3">New book</h2>
  <form>
    <%= form_with model: book do |f| %>
    <div class="form-lists">
      <p>Title</p>
      <p><%= f.text_field :title, class: "form-text" %></p>
    </div>
    <div class="form-lists">
      <p>Opinion</p>
      <p><%= f.text_area :body, class: "form-text" %></p>
    </div>
    <div class="form-lists">
      <p><%= f.submit 'Create Book', class: "btn btn-success" %></p>
      <% end %>
    </div>
  </form>






<!--パーシャル(部分テンプレート)でインスタンス変数が複数ある場合-->
<!--https://zenn.dev/hal_mat/articles/83f37edda263f762899f-->
<!--１種類-->
<!--<= render 'list', book: @book %>-->
<!--２種類-->
<!--<= render partial: 'list', locals: { user: @user, book: @book } %>-->

<!--fromタグ＝送信フォームを作成する際に使用する要素-->
<!--https://html-coding.co.jp/annex/dictionary/html/form/-->