<main>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
        <h1>Editing Book</h1>
        <%= form_with model: @book do |f| %>
          <div class="form-lists">
            <p>Title</p>
            <p><%= f.text_field :title %></p>
          </div>
          <div class="form-lists">
            <p>Opinion</p>
            <p><%= f.text_area :body %></p>
          </div>
          <div class="form-lists">
            <p><%= f.submit 'Update Book', class: "btn btn-success" %></p>
          </div>
        <% end %>
        <%= link_to "Show", book_path(@book) %> |
        <%= link_to "Back", books_path %>
      </div>
    </div>
  </div>
</main>
