<h1>Book detail</h1>
<table>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td><%= link_to "<%= book.title %>", book_path(book) %></td>
        <td><%= book.body %></td>
        <td>
          <% if book.user == current_user %>
            <%= link_to "Edit", edit_book_path(book) %>
            <%= link_to "Destroy", book_path(book), method: :delete, "confirm" => "本当に消しますか？"  %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<!--bookersを参考に下記から上記に変更-->
<!--<h1>Book detail</h1>-->
<!--<table>-->
<!--  <tbody>-->
<!--  < @books.each do |book| %>-->
<!--  <tr>-->
<!--    <td><= book.title %></td>-->
<!--    <td><= book.body %></td>-->
<!--    < if book.user == current_user %>-->
<!--    <td><= link_to "Edit", edit_book_path(@book) %></td>-->
<!--    <td><= link_to "Destroy", book_path(@book), method: :delete, "data-confirm" =>"本当に消しますか？" %></td>-->
<!--    < end %>-->
<!--  </tr>-->
<!--  < end %>-->
<!--</tbody>-->
<!--       </tbody>-->
<!--</table>-->
<!--<div>-->