<!DOCTYPE html>
<html>
  <head>
    <title>Bookers2</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://kit.fontawesome.com/28e899c482.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>  
  <header>
    <nav class="navbar navbar-expand-lg " style="background-color: #343a40;" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Bookers</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link text-light" href="/"><i class="fa-solid fa-house"></i> Home </a>
            </li>
              <% if user_signed_in? %>
            <li class="nav-item">
              <a class="nav-link text-light" href="/users"><i class="fa-solid fa-users"></i> Users </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/books"><i class="fa-solid fa-book-open"></i> Books </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" rel="nofollow" data-method="delete" href="/users/sign_out"><i class="fa-solid fa-right-from-bracket"></i> Log out </a>
            </li>
              <% else %>
            <li class="nav-item">
              <a class="nav-link text-light" href="/home/about"><i class="fa-solid fa-link"></i> About </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/users/sign_up"><i class="fa-solid fa-user-plus"></i> Sign up </a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-light" href="/users/sign_in"><i class="fa-solid fa-right-to-bracket"></i> Log in </a>
            </li>
              <% end %>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  
  <main>
    <div>
      <%= flash[:notice] %>
    </div>
    <%= yield %>
  </main>
  
  <footer>
    <div class="container mt-5 text-center">
  <div class="row">
    <div class="col"></div>
    <div class="col-5">CopyRight Infratop.inc</div>
    <div class="col"></div>
  </div>
</div>
  </footer>

</body>
</html>

<!--ナビゲーションバーと配色-->
<!--https://getbootstrap.jp/docs/5.3/components/navbar/-->
<!--リンクの横にアイコンを表示-->
<!--https://qiita.com/ki_87/items/f94a85cc8c20f42a5d53-->

<!--mt-5のmtはmargintopの略で、５は大きさ（０〜５まで）-->


<!--<= link_to root_path, class: 'nav-link active', aria_current: 'page' do %>-->
<!--<i class="fa-solid fa-house"></i>Home-->
<!--< end %>-->

<!--<= link_to user_path(current_user), class: 'nav-link active', aria_current: 'page' do %>-->
<!--<i class="fa-solid fa-users"></i>Users-->
<!--< end %>-->

<!--<= link_to about_path, class: 'nav-link active', aria_current: 'page' do %>-->
<!--<i class="fa-solid fa-link"></i>About-->
<!--< end %>-->

<!--<= link_to new_user_registration_path, class: 'nav-link active', aria_current: 'page' do %>-->
<!--<i class="fa-solid fa-user-plus"></i>Sign up-->
<!--< end %>-->

<!--<= link_to new_user_session_path, class: 'nav-link active', aria_current: 'page' do %>-->
<!--<i class="fa-solid fa-right-to-bracket"></i>Log in-->
<!--< end %>-->